*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

i.material-icons{
    font-size:35px;
}

nav{
    font-family:"Monserrat", sans-serif;
    font-weight:500;
}

a{
    text-decoration: none;
}

nav, footer, .headerBody{
    background-color: #7ee8fa;
    background: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

li{
    list-style: none;
}

.links{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    padding: 30px 10%;
}

.right-link{
    margin-left:20px;
}

.logo{
    margin-right:auto;
}

.headerBody{
    display:flex;
    justify-content: space-between;
    padding: 30px 10%;
}

.headerBody h1{
    font-size:48px;
    margin-bottom:20px;
    font-weight:bold;
}

.headerBody p{
    font-size:18px;
    margin-bottom:20px;
}


.buttons{
    border:none;
    color:white;
    font-weight: 500;
    padding:12px;
    border-radius:12px;
    background-color: #3882f6;
}

.bodyRight img{
    border-radius:20px;
    height:38vh;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.photos{
    padding:30px 10%;
}

.photos-heading h2{
    text-align: center;
    font-size: 36px;
    margin-top:12px;
    margin-bottom:12px;
    font-weight: bolder;
}

.photo-collection img{
    display: flex;
    justify-content: space-around;
    height:150px;
    width: 150px;
}