*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    background-color: #7ee8fa;
    background: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

i.material-icons{
    font-size:35px;
}

nav{
    font-family:"Monserrat", sans-serif;
    font-weight:500;
}

a{
    text-decoration: none;
}

nav, footer, .headerBody{
    background-color: #7ee8fa;
    background: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

li{
    list-style: none;
}

.links{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    padding: 30px 10%;
}

.right-link{
    margin-left:20px;
}

.logo{
    margin-right:auto;
}

.headerBody{
    display:flex;
    justify-content: space-between;
    padding: 30px 10%;
}

.headerBody h1{
    font-size:48px;
    margin-bottom:20px;
    font-weight:bolder;
}

.headerBody p{
    font-size:24px;
    margin-bottom:20px;
    font-weight: bold;
}


.buttons{
    border:none;
    color:white;
    font-weight: 500;
    padding:12px;
    border-radius:12px;
    font-size: 20px;
    background-color: #3882f6;
}

.buttons:hover{
    cursor: pointer;
}

.bodyRight img{
    border-radius:20px;
    height:38vh;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.photos{
    padding: 23px 10%;
    background-color: white;
}

.photos-heading h2{
    text-align: center;
    font-size: 36px;
    margin-top:12px;
    margin-bottom:12px;
    font-weight: bolder;
}

.photo-collection{
    display:flex;
    justify-content:space-around;
}

.photo-collection img{
    border-radius:5px 5px 0 0;
    height:170px;
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

#majestic-desc, #gold-desc, #forest-desc, #sub-desc{
      padding: 2px 16px;
}

.inspirationalSign{
    padding: 40px 10%;
    background-color: #E5E7EB;
    font-size: 36px;
}

.inspirationalSign p{
    float:right;
    text-decoration: underline;
}

.inspirationalSign blockquote{
    font-style: italic;
    font-weight: 100;
}

.sign-up{
    text-align:center;
    padding-top:70px;
}

.sign-up h2{
    padding-bottom:20px;
}

.sign-up button{
    padding: 20px 5px 20px 5px;
    color:white;
    border-style: none;
    border-radius:20px;
    width:150px;
    font-size: large;
    background-color: #3882f6;
}

.sign-up button:hover{
    cursor: pointer;
}

.footerLanding{
    text-align:center;
    padding:30px;
    font-size: 25px;
}


  